<?xml version="1.0" encoding="utf-8"?>
<!--This is where you can configure the various settings for SupportSoft Account Manager -->
<!--SAMPLE SETTINGS
	<AccountManager>
    <AppSettings>
      <Property Name ="AutoAssignGlobalQuestionNo" Value =""/>
      <Property Name="EnablePerfLog" Value="" />
    </AppSettings>
    <TargetSystem ID= "<GUID>" IsPrimary="" TargetType="">
      <Properties>
		<Property Name="LDAPVersion" Value="3" />
		<Property Name="ServerIP" Value="xx.xx.xx.xx" />
		<Property Name="Port" Value="389" />
		<Property Name="SSLPort" Value="636" />
		<Property Name="UseSSL" Value="true" />
		<Property Name="CertificateVerifyMode" Value ="1" />
		<Property Name="CertificateFilePath" Value ="" />
		<Property Name="AuthMode" Value="Basic" />
		<Property Name="Timeout" Value="30" />
		<Property Name="LDAPSearchPageSize" Value="500" />
		<Property Name="Domain" Value="accdc.com" />
		<Property Name="DomainName" Value="accdc" />
		<Property Name="DomainRoot" Value="DC=accdc,DC=com" />
		<Property Name="SearchBase" Value="DC=com,DC=com" />
		<Property Name="AdminLogin" Value="administrator" />
		<Property Name="AdminPassword" Value="Sprt2013" />

		<Property Name="AutoAssignGlobalQuestionNo" Value="2" />
		<Property Name="QuestionnaireProviderID" Value="" />
		<Property Name="EnablePerfLog" Value ="false" />
      </Properties>
    </TargetSystem>
	</AccountManager>
	-->
<AccountManager>
  <AppSettings>
    <Property Name ="AutoAssignGlobalQuestionNo" Value ="2"/>
    <Property Name="EnablePerfLog" Value="true" />
    <Property Name ="MultipleSystemEnabled" Value="true"/>
  </AppSettings>
  

  <TargetSystem ID="692F07E3-C5EF-4F86-8FBA-6CE7D06176A6" IsPrimary="false" EnableLinking="true" TargetType="DirectoryServices" Description ="blrrdc_secondary">
            <Properties>
  <!--LDAP Settings-->
  <!-- LDAPV3= 3, LDAPVer2 = 2-->
  <Property Name="LDAPVersion" Value="3" />
  <!--This can be same as the Active Directory Settings==>Domain-->
  <Property Name="ServerIP" Value="10.183.224.136" />
  <Property Name="Port" Value="389" />
  <Property Name="SSLPort" Value="636" />
  <!-- enabled = true, diabled = false-->
  <Property Name="UseSSL" Value="true" />
  <!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3-->
  <Property Name="CertificateVerifyMode" Value="1" />
  <!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2-->
  <Property Name="CertificateFilePath" Value="" />
  <!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,-->
  <Property Name="AuthMode" Value="Negotiate" />
  <!-- In Seconds-->
  <Property Name="Timeout" Value="10" />
  <!-- Value should be greater than 0 to enable pagination-->
  <Property Name="LDAPSearchPageSize" Value="500" />

  <!--Active Directory Settings-->

  <!--e.g. mydomain.com-->
  <Property Name="Domain" Value="blrrdc.lab" />
  <Property Name="DomainName" Value="blrrdc" />
  <!--e.g. mydomain-->
  <!--e.g. DC=mydomain,DC=COM-->
  <Property Name="DomainRoot" Value="dc=blrrdc,dc=lab" />
  <!--e.g. OU=myusers,DC=mydomain,DC=COM-->
  <Property Name="SearchBase" Value="dc=blrrdc,dc=lab" />
  <!--Credentials-->
    <Property Name="AdminLogin" Value="labdomainuser" />
    <Property Name="AdminPassword" Value="abc-123" IsSecured="FALSE" />
  <!--Application settings-->

  <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
  <Property Name="QuestionnaireProviderID" Value="" />

      <!--System Settings -->
      <!-- Specifies whether the system is allowed to be linked -->
      <Property Name ="SystemEnabled" Value ="false"/>
      <!-- Specifies whether the Login Name/Id would be same as Primary Account ; Value : true/false-->
      <Property Name ="LoginIDSameAsPrimary" Value=""/>
      <!-- Enable/Disable Password Resest for the System; Value : true/false -->
      <Property Name ="AllowPasswordReset" Value="true"/>
      <!-- Enable/Disable Account Unlock for the System ; Value : true/false-->
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      <!-- Password history honoring -->
	  <Property Name="HonorHistoryWhileReset" Value="true"/> 	<!-- Set this as true if you want to honor history while resetting AD password. Note AD should have required OID enabled-->
	  <Property Name="LDAPServerPolicyOID" Value="1.2.840.113556.1.4.2066"/>
    </Properties>
  </TargetSystem>

  <TargetSystem ID="B3261B18-132A-4C0E-919B-4883AB55B445" IsPrimary="true" EnableLinking="false" TargetType="DirectoryServices" Description ="child2">
    <Properties>
      <!--LDAP Settings-->
      <!-- LDAPV3= 3, LDAPVer2 = 2-->
      <Property Name="LDAPVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.224.203" />
      <Property Name="Port" Value="389" />
      <Property Name="SSLPort" Value="636" />
      <!-- enabled = true, diabled = false-->
      <Property Name="UseSSL" Value="false" />
      <!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3-->
      <Property Name="CertificateVerifyMode" Value="1" />
      <!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2-->
      <Property Name="CertificateFilePath" Value="" />
      <!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,-->
      <Property Name="AuthMode" Value="Negotiate" />
      <!-- In Seconds-->
      <Property Name="Timeout" Value="10" />
      <!-- Value should be greater than 0 to enable pagination-->
      <Property Name="LDAPSearchPageSize" Value="500" />
      <!--Active Directory Settings-->
      <!--e.g. mydomain.com-->
      <Property Name="Domain" Value="child2.customerlab.local" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="child2" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="dc=child2,dc=customerlab,dc=local" />
      <!--e.g. OU=myusers,DC=mydomain,DC=COM-->
      <Property Name="SearchBase" Value="dc=child2,dc=customerlab,dc=local" />
      <!--Credentials-->
      <Property Name="AdminLogin" Value="sanjaya.k" />
      <Property Name="AdminPassword" Value="uC2oh/kkQ2KlmIuaApgkFg==" IsSecured="TRUE" />
      <!--Application settings-->
      
      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <Property Name ="LoginIDSameAsPrimary" Value="true"/>
	  <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      
    </Properties>
  </TargetSystem>
  <TargetSystem ID="F08DFEE3-D217-488A-90FE-F10E41A11FB8" IsPrimary="false" TargetType="DirectoryServices" EnableLinking="true" Description ="customerlab">
    <Properties>
      <!--LDAP Settings-->
      <!-- LDAPV3= 3, LDAPVer2 = 2-->
      <Property Name="LDAPVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.224.201" />
      <Property Name="Port" Value="389" />
      <Property Name="SSLPort" Value="636" />
      <!-- enabled = true, diabled = false-->
      <Property Name="UseSSL" Value="false" />
      <!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3-->
      <Property Name="CertificateVerifyMode" Value="1" />
      <!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2-->
      <Property Name="CertificateFilePath" Value="" />
      <!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,-->
      <Property Name="AuthMode" Value="Negotiate" />
      <!-- In Seconds-->
      <Property Name="Timeout" Value="10" />
      <!-- Value should be greater than 0 to enable pagination-->
      <Property Name="LDAPSearchPageSize" Value="500" />
      <!--Active Directory Settings-->
      <!--e.g. mydomain.com-->
      <Property Name="Domain" Value="customerlab.local" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="customerlab" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="dc=customerlab,dc=local" />
      <!--e.g. OU=myusers,DC=mydomain,DC=COM-->
      <Property Name="SearchBase" Value="dc=customerlab,dc=local" />
      <!--Credentials-->
      <Property Name="AdminLogin" Value="sanjaya.k" />
      <Property Name="AdminPassword" Value="Password1" IsSecured="FALSE" />
      <!--Application settings-->

      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <Property Name ="LoginIDSameAsPrimary" Value="true"/>
	  <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      
    </Properties>
  </TargetSystem>
  
  
  <TargetSystem ID="5DD86434-633C-40B6-B999-B117D3B7FECE" IsPrimary="true" TargetType="DirectoryServices" EnableLinking="false" Description ="blrrdc">
        <Properties>
  <!--LDAP Settings-->
  <!-- LDAPV3= 3, LDAPVer2 = 2-->
  <Property Name="LDAPVersion" Value="3" />
  <!--This can be same as the Active Directory Settings==>Domain-->
  <Property Name="ServerIP" Value="10.183.224.136" />
  <Property Name="Port" Value="389" />
  <Property Name="SSLPort" Value="636" />
  <!-- enabled = true, diabled = false-->
  <Property Name="UseSSL" Value="true" />
  <!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3-->
  <Property Name="CertificateVerifyMode" Value="1" />
  <!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2-->
  <Property Name="CertificateFilePath" Value="" />
  <!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,-->
  <Property Name="AuthMode" Value="Negotiate" />
  <!-- In Seconds-->
  <Property Name="Timeout" Value="10" />
  <!-- Value should be greater than 0 to enable pagination-->
  <Property Name="LDAPSearchPageSize" Value="500" />

  <!--Active Directory Settings-->

  <!--e.g. mydomain.com-->
  <Property Name="Domain" Value="blrrdc.lab" />
  <Property Name="DomainName" Value="blrrdc" />
  <!--e.g. mydomain-->
  <!--e.g. DC=mydomain,DC=COM-->
  <Property Name="DomainRoot" Value="dc=blrrdc,dc=lab" />
  <!--e.g. OU=myusers,DC=mydomain,DC=COM-->
  <Property Name="SearchBase" Value="dc=blrrdc,dc=lab" />
  <!--Credentials-->
    <Property Name="AdminLogin" Value="labdomainuser" />
    <Property Name="AdminPassword" Value="abc-123" IsSecured="FALSE" />
  <!--Application settings-->

  <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
  <Property Name="QuestionnaireProviderID" Value="" />

      <!--System Settings -->
      <!-- Specifies whether the system is allowed to be linked -->
      <Property Name ="SystemEnabled" Value ="false"/>
      <!-- Specifies whether the Login Name/Id would be same as Primary Account ; Value : true/false-->
      <Property Name ="LoginIDSameAsPrimary" Value=""/>
      <!-- Enable/Disable Password Resest for the System; Value : true/false -->
      <Property Name ="AllowPasswordReset" Value="true"/>
      <!-- Enable/Disable Account Unlock for the System ; Value : true/false-->
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      <!-- Password history honoring -->
	  <Property Name="HonorHistoryWhileReset" Value="true"/> 	<!-- Set this as true if you want to honor history while resetting AD password. Note AD should have required OID enabled-->
	  <Property Name="LDAPServerPolicyOID" Value="1.2.840.113556.1.4.2066"/>
    </Properties>
  </TargetSystem>
  
  
  
  <TargetSystem ID="cb9016b5-9863-420b-9c71-531d6365f774" IsPrimary="false" EnableLinking="true" TargetType="DirectoryServices" Description ="accdc">
    <Properties>
      <!--LDAP Settings-->
      <!-- LDAPV3= 3, LDAPVer2 = 2-->
      <Property Name="LDAPVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.228.242" />
      <Property Name="Port" Value="389" />
      <!-- 389,3268 -->
      <Property Name="SSLPort" Value="636" />
      <!-- 636,3269 -->
      <!-- enabled = true, diabled = false-->
      <Property Name="UseSSL" Value="false" />
      <!--Auto Trust = 1, Verify From Certificate File = 2 and Verify from Trusted Root Certification Authorities (Local Machine) = 3-->
      <Property Name="CertificateVerifyMode" Value="3" />
      <!--File Path (Absolute Path) of Certificate File. Provide file path if Verification Mode is 2-->
      <Property Name="CertificateFilePath" Value="" />
      <!--Anonymous = 0, Basic = 1, Negotiate = 2, Ntlm = 3, Digest = 4, Sicily = 5,Dpa = 6,Msn = 7,External = 8,Kerberos = 9,-->
      <Property Name="AuthMode" Value="Negotiate" />
      <!-- In Seconds-->
      <Property Name="Timeout" Value="10" />
      <!-- Value should be greater than 0 to enable pagination-->
      <Property Name="LDAPSearchPageSize" Value="500" />
      <!--Active Directory Settings-->
      <!--e.g. mydomain.com-->
      <Property Name="Domain" Value="accdc.com" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="accdc" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="dc=accdc,dc=com" />
      <!--e.g. OU=myusers,DC=mydomain,DC=COM-->
      <Property Name="SearchBase" Value="dc=accdc,dc=com" />
      <!--Credentials-->
      <Property Name="AdminLogin" Value="administrator" />
      <Property Name="AdminPassword" Value="ddZ+dX8BT4zl9ari2wEO6Mbm2gZa4qzBw5kKSh+LWjc=" IsSecured="TRUE" />
      <!--Application settings-->
      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <!-- System Settings-->      
      <!-- Specifies if the Login ID for this system is same as of the domain Login -->
      <Property Name ="LoginIDSameAsPrimary" Value="true"/>
	  <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
    </Properties>
  </TargetSystem>
  
  <TargetSystem ID="6B905A3E-C4E3-4259-AF10-4017B898845D" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-1">
    <Properties>
      <Property Name="RfcConnectorVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.131.145" />
      <Property Name="LogonGroup" Value="PUBLIC" />
      <Property Name="SystemID" Value="NSP" />
      <Property Name="SystemNumber" Value="00" />
      <Property Name="AdminLogin" Value="AM_ADMIN" />
      <Property Name="AdminPassword" Value ="service@1234" />
      <Property Name="Client" Value ="001" />
      <Property Name="Language" Value="en" />
      <!-- In Seconds-->
      <Property Name="IdleTimeout" Value="30" />
      <Property Name="PoolSize" Value="1" />
      <Property Name="MaxPoolSize" Value="1" />
      <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      <!-- Specifies if the Login ID for this system is same as of the domain Login -->
      <Property Name ="LoginIDSameAsPrimary" Value="false"/>

      <Property Name ="UseTempPassword" Value="true"/>
      <!-- false : means we will use single step password reset-->
      <Property Name ="TempPasswordPattern" Value="Monier@1234"/>
      <!-- Sample pattern password which will work for this system -->
      <Property Name ="AllowedSpecialCharecters" Value="!@#$%*"/>
      <!-- Default values using in code are !@#$%*-->

      <Property Name="Domain" Value="" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="" />
      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <Property Name="LDAPVersion" Value="" />
      <Property Name="Port" Value="" />
      <Property Name="SSLPort" Value="" />
      <Property Name="UseSSL" Value="" />
      <Property Name="CertificateVerifyMode" Value ="" />
      <Property Name="CertificateFilePath" Value ="" />
      <Property Name="AuthMode" Value="" />
      <Property Name="Timeout" Value="" />
      <Property Name="LDAPSearchPageSize" Value="" />
      <Property Name="SearchBase" Value="" />

      <Property Name="AutoAssignGlobalQuestionNo" Value="2" />

    </Properties>
  </TargetSystem>

  <TargetSystem ID="b7e6b37b-1ce2-49bb-a87f-38903999af56" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-2">
    <Properties>
      <Property Name="RfcConnectorVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.131.145" />
      <Property Name="LogonGroup" Value="PUBLIC" />
      <Property Name="SystemID" Value="NSP" />
      <Property Name="SystemNumber" Value="00" />
      <Property Name="AdminLogin" Value="AM_ADMIN" />
      <Property Name="AdminPassword" Value ="service@1234" />
      <Property Name="Client" Value ="001" />
      <Property Name="Language" Value="en" />
      <!-- In Seconds-->
      <Property Name="IdleTimeout" Value="30" />
      <Property Name="PoolSize" Value="1" />
      <Property Name="MaxPoolSize" Value="1" />
      <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      <!-- Specifies if the Login ID for this system is same as of the domain Login -->
      <Property Name ="LoginIDSameAsPrimary" Value="false"/>

      <Property Name="Domain" Value="" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="" />
      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <Property Name="LDAPVersion" Value="" />
      <Property Name="Port" Value="" />
      <Property Name="SSLPort" Value="" />
      <Property Name="UseSSL" Value="" />
      <Property Name="CertificateVerifyMode" Value ="" />
      <Property Name="CertificateFilePath" Value ="" />
      <Property Name="AuthMode" Value="" />
      <Property Name="Timeout" Value="" />
      <Property Name="LDAPSearchPageSize" Value="" />
      <Property Name="SearchBase" Value="" />

      <Property Name="AutoAssignGlobalQuestionNo" Value="2" />

    </Properties>
  </TargetSystem>

  <TargetSystem ID="b7e6b37b-1ce2-49bb-a87f-38903999af12" IsPrimary="false" EnableLinking="true" TargetType="SapServices" Description ="SAP System-QA">
    <Properties>
      <Property Name="RfcConnectorVersion" Value="3" />
      <!--This can be same as the Active Directory Settings==>Domain-->
      <Property Name="ServerIP" Value="10.183.133.58" />
      <Property Name="LogonGroup" Value="PUBLIC" />
      <Property Name="SystemID" Value="NSP" />
      <Property Name="SystemNumber" Value="00" />
      <Property Name="AdminLogin" Value="AM_ADMIN" />
      <Property Name="AdminPassword" Value ="service@1234" />
      <Property Name="Client" Value ="001" />
      <Property Name="Language" Value="en" />
      <!-- In Seconds-->
      <Property Name="IdleTimeout" Value="30" />
      <Property Name="PoolSize" Value="1" />
      <Property Name="MaxPoolSize" Value="1" />
      <Property Name ="AllowPasswordReset" Value="true"/>
      <Property Name ="AllowAccountUnlock" Value ="true"/>
      <!-- Specifies if the Login ID for this system is same as of the domain Login -->
      <Property Name ="LoginIDSameAsPrimary" Value="false"/>

      <Property Name="Domain" Value="" />
      <!--e.g. mydomain-->
      <Property Name="DomainName" Value="" />
      <!--e.g. DC=mydomain,DC=COM-->
      <Property Name="DomainRoot" Value="" />
      <!-- Specify the the value if QnA is to be configured outside SS DB e.g.  0(for ActiveDirectoryServices)-->
      <Property Name="QuestionnaireProviderID" Value="" />
      <Property Name="LDAPVersion" Value="" />
      <Property Name="Port" Value="" />
      <Property Name="SSLPort" Value="" />
      <Property Name="UseSSL" Value="" />
      <Property Name="CertificateVerifyMode" Value ="" />
      <Property Name="CertificateFilePath" Value ="" />
      <Property Name="AuthMode" Value="" />
      <Property Name="Timeout" Value="" />
      <Property Name="LDAPSearchPageSize" Value="" />
      <Property Name="SearchBase" Value="" />

      <Property Name="AutoAssignGlobalQuestionNo" Value="2" />

    </Properties>
  </TargetSystem>
</AccountManager>